@{
    ViewBag.Title = "Event";
}

<script type="jquery/x-jquery-tmpl" id="eventTemplate">
    <div class="event">
        <div class="event-name">${Name}</div>
        <span class="event-date"><img src="@Url.Content("~/Content/images/retina-display/Calendar-UI.PNG")" alt="@ResultViewer.Strings.Event_Date" width="32px" />{{if Date}}${Date.format("dd/mm/yyyy")}{{else}}@ResultViewer.Strings.Unknown{{/if}}</span>
        <span class="event-club">
            <img src="@Url.Content("~/Content/images/retina-display/Speaker-UI.PNG")" alt="@ResultViewer.Strings.Event_Club" width="32px" />
            {{if Club}}
            <a href="/view/club/${Club.Id}">${Club.ShortName}</a>
            {{else}}
            ${ClubName}
            {{/if}}
        </span>
        <span class="event-link"><a href="${Url}" target="_BLANK"><img src="@Url.Content("~/Content/images/retina-display/App-Globe-UI.PNG")" alt="@ResultViewer.Strings.Event_Link" width="32px" /></a></span>
        {{if Description}}<span class="event-description"><img src="@Url.Content("~/Content/images/retina-display/Document-UI.PNG")" alt="@ResultViewer.Strings.Event_Description" width="32px" />${Description}</span>{{/if}}
    </div>
</script>

<script type="jquery/x-jquery-tmpl" id="courseTemplate">
    <div class="course-details">
        <span class="course-details-length"><img src="@Url.Content("~/Content/images/retina-display/Ruler-UI.PNG")" alt="@ResultViewer.Strings.Course_Length" width="24px" />${Length}@ResultViewer.Strings.Course_Length_Unit_Short</span>
        <span class="course-details-climb"><img src="@Url.Content("~/Content/images/retina-display/Arrow-UI.PNG")" alt="@ResultViewer.Strings.Course_Climb" width="24px" />${Climb}@ResultViewer.Strings.Course_Climb_Unit_Short</span>
        <span class="course-details-results"><img src="@Url.Content("~/Content/images/retina-display/Man-UI.PNG")" alt="@ResultViewer.Strings.Course_Competitors" width="24px" />0</span>
    </div>
</script>

<script type="jquery/x-jquery-tmpl" id="resultTemplate">
    <div class="result">
        <span class="result-position">{{if Position}}${Position}{{/if}}{{if !Position}}${Code}{{/if}}</span>
        <span class="result-name">${Name}</span>
        <span class="result-age">${Age}</span>
        {{if Club}}
        <span class="result-club"><a href="/view/club/${Club.Id}">${Club.ShortName}</a></span>
        {{else}}
        <span class="result-club">${ClubName}</span>
        {{/if}}
        <span class="result-time">{{if Time.Hours != 0}}${Time.Hours}:{{/if}}${pad(Time.Minutes, 2)}:${pad(Time.Seconds, 2)}</span>
    </div>
</script>

<script language="javascript" type="text/javascript">

    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }

    $(document).ready(function () {

        tabs = $("#tabs").tabs({
            ajaxOptions: {
                dataType: 'json',
                dataFilter: function (result) {
                    var data = $.parseJSON(result);
                    var string = '';

                    string += $("#courseTemplate").tmpl(data[0].Course).outerHTML();
                    for (thing in data) {
                        string += $("#resultTemplate").tmpl(data[thing]).outerHTML();
                    }

                    this.dataTypes = ['html']
                    return string;
                }
            }
        });

        $.getJSON(
            "/store/event/@ViewBag.EventIndex",
            null,
            function (data) {
                $("#eventTemplate").tmpl(data).appendTo("#eventContainer");
            }
        );

        $.getJSON(
            "/store/event/@ViewBag.EventIndex/courses/",
            null,
            function (data) {
                for (course in data) {
                    $("#tabs").tabs('add', '/store/event/@ViewBag.EventIndex/course/' + data[course].Id + '/results', data[course].Name);
                }
            }
        );
    });
</script>

<div id="eventContainer"></div>

<div id="tabs">
    <ul>
    </ul>
</div>